@font-face {
    font-family: Norse-Bold;
    src: url("assets/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

body {
    --border-rad: 20px;
    border-radius: var(--border-rad);
    height: 95%;
    display: flex;
    justify-content: center;
    margin: 0;
    box-shadow: 10px 10px 25px 1px #111;

}

img[src="./assets/logo.png"] {
    width: 95px;
    height: 127px;
}

div.sidebar {
    border-top-left-radius: var(--border-rad);
    border-bottom-left-radius: var(--border-rad);
    flex: 1 1 500px;
    max-width: 500px;
    background-image: url("./assets/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

a { 
    color: white;
    text-decoration: none;
}

div.sidebar > p {
    margin-top: auto;
    text-align: center;
    color: white;
}

div.logo {
    width: 100%;
    margin-top: 33%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

div.logo > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold;
    font-size: 30px;    
}

div.content {
    border-top-right-radius: var(--border-rad);
    border-bottom-right-radius: var(--border-rad);
    flex: 1 5 auto;
    max-width: 800px;
    background-color: #eee;
    padding-left: 40px;
}

p.description {
    font-weight: 550;
}

p.description:first-child {
    margin-top: 100px;
}

div.signup-info {
    display: flex;
    gap: 10%;
    padding: 0 0 20px 40px;
}

form > div {
    margin-left: -40px;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: white;
    box-shadow: 0 5px 5px 1px grey;
}

form > div > p {
    padding-left: 40px;
    font-weight: 550;
}

div.form-column {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

label {
    align-self: flex-start;
    font-size: small;
    color: #222;
}

input + label {
    margin-top: 20px;
}

input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    font-size: medium;
    transition: all 0.25s ease-in-out;
}

input:focus {
    border: 2px solid #1e6a7b;
    margin: 0 -1px;
    box-shadow: 2px 2px 6px 2px #ccc;
    transition: all 0.25s ease-in-out;
}

input[type="email"]:invalid {
    border: 2px solid red;
    transition: all 0.25s ease-in-out;
}

input[type="password"]:invalid {
    border: 2px solid red;
}

input[type="password"]:invalid + span {
    position: relative;
}

input[type="password"]:invalid + span::after {
    position: absolute;
    top: 7px;
    right: 0px;
    content: "*Password must be at least 8 characters.";
    font-size: small;
    color: red;
    transition: all 0.25s ease-in-out;
}

button {
    background-image: linear-gradient(135deg, #1e6a7b, #811a17);
    font-size: large;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-image: linear-gradient(135deg, #478593, #984441);
}

.log-in {
    color: #1e6a7b;
}
